- button_name ="UPDATE"
- action_name ="Edit"
- flag = 1
= render partial: "form", locals: {action_name: action_name, button_name: button_name, prototype: @prototype, captured_image: @captured_image, flag: flag}