              %li.list-group-item.col-md-4
- button_name ="PUBLISH"
- action_name ="New Proto"
- flag = 0
= render partial: "form", locals: {action_name: action_name, button_name: button_name, prototype: @prototype, flag: flag}
